<div class="container mt-4">
  <div class="accordion" id="addressAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="true"
          aria-controls="collapseTwo">
          Addresses
        </button>
      </h2>

      <div
        id="collapseTwo"
        class="accordion-collapse collapse show"
        aria-labelledby="headingTwo"
        data-bs-parent="#addressAccordion">
        <div class="accordion-body">
          <form [formGroup]="formGroup" >

            <!-- Billing Address -->
            <h5>Billing address</h5>
            <div class="row">
              <div class="col-md-6">
                <label>Street address 1</label>
                <input type="text" class="form-control" formControlName="billingStreet1" 
                [class.is-invalid]="formGroup.get('billingStreet1').invalid && formGroup.get('billingStreet1').touched"
                />
                <div *ngIf="formGroup.get('billingStreet1').invalid && formGroup.get('billingStreet1').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingStreet1').hasError('required')">Street address 1 is required</small>
                </div>
              </div>
              <div class="col-md-6">
                <label>Street address 2</label>
                <input type="text" class="form-control" formControlName="billingStreet2" 
                [class.is-invalid]="formGroup.get('billingStreet2').invalid && formGroup.get('billingStreet2').touched"
                />
                <div *ngIf="formGroup.get('billingStreet2').invalid && formGroup.get('billingStreet2').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingStreet2').hasError('required')">Street address 2 is required</small>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-6">
                <label>City</label>
                <input type="text" class="form-control" formControlName="billingCity" 
                [class.is-invalid]="formGroup.get('billingCity').invalid && formGroup.get('billingCity').touched"
                />
                <div *ngIf="formGroup.get('billingCity').invalid && formGroup.get('billingCity').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingCity').hasError('required')">City is required</small>
                </div>
              </div>
              <div class="col-md-6">
                <label>State</label>
                <input type="text" class="form-control" formControlName="billingState" 
                [class.is-invalid]="formGroup.get('billingState').invalid && formGroup.get('billingState').touched"
                />
                <div *ngIf="formGroup.get('billingState').invalid && formGroup.get('billingState').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingState').hasError('required')">State is required</small>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-6">
                <label>ZIP code</label>
                <input type="text" class="form-control" formControlName="billingZip" 
                [class.is-invalid]="formGroup.get('billingZip').invalid && formGroup.get('billingZip').touched"
                />
                <div *ngIf="formGroup.get('billingZip').invalid && formGroup.get('billingZip').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingZip').hasError('required')">ZIP code is required</small>
                </div>
              </div>
              <div class="col-md-6">
                <label>Country</label>
                <input type="text" class="form-control" formControlName="billingCountry" 
                [class.is-invalid]="formGroup.get('billingCountry').invalid && formGroup.get('billingCountry').touched"
                />
                <div *ngIf="formGroup.get('billingCountry').invalid && formGroup.get('billingCountry').touched">
                  <small class="text-danger" *ngIf="formGroup.get('billingCountry').hasError('required')">Country is required</small>
                </div>
              </div>
            </div>

            <a href="#" class="d-block mt-2">Preview address</a>

            <!-- Shipping Address -->
            <h5 class="mt-4">Shipping address</h5>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="sameAsBilling" (change)="syncShippingAddress()" />
              <label class="form-check-label">Same as billing address</label>
            </div>

            <ng-container *ngIf="!formGroup.get('sameAsBilling').value">
              <div class="row mt-2">
                <div class="col-md-6">
                  <label>Street address 1</label>
                  <input type="text" class="form-control" formControlName="shippingStreet1" />
                </div>
                <div class="col-md-6">
                  <label>Street address 2</label>
                  <input type="text" class="form-control" formControlName="shippingStreet2" />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                  <label>City</label>
                  <input type="text" class="form-control" formControlName="shippingCity" />
                </div>
                <div class="col-md-6">
                  <label>State</label>
                  <input type="text" class="form-control" formControlName="shippingState" />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                  <label>ZIP code</label>
                  <input type="text" class="form-control" formControlName="shippingZip" />
                </div>
                <div class="col-md-6">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="shippingCountry" />
                </div>
              </div>

              <a href="#" class="d-block mt-2">Preview address</a>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
