<div class="d-flex mt-6">
  <!-- left sidebar -->
  <div
    class="container bg-white shadow rounded sidebar m-0"
    [ngStyle]="{ width: showSideBar ? '300px' : '0px' }"
  >
    <div
      *ngIf="showSideBar"
      [ngStyle]="{ width: showSideBar ? '280px' : '0px' }"
    >
      <div
        class="sidebar-container d-flex flex-column bg-white mt-2"
        [ngClass]="{ open: showSideBar }"
      >
        <!-- Header Section -->
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="fw-bold">
            Autofill this invoice with
            <span class="badge bg-success">BETA</span>
          </h5>
          <!-- <button class="btn btn-light border-0" (click)="toggleSidebar()">✕</button> -->
        </div>

        <!-- Action Buttons -->
        <div class="btn-group my-3">
          <button class="btn btn-secondary active">Files</button>
          <button class="btn btn-light">Images</button>
          <button class="btn btn-light">Text</button>
        </div>

        <!-- Upload Section -->
        <div class="upload-container border rounded p-4 text-center bg-light">
          <button class="btn btn-success w-100 mb-3">
            ✨ Autofill from file
          </button>
          <p>or drag and drop here</p>
          <p class="text-muted small">Supported formats: PDF, PNG, JPEG</p>
          <p class="fw-bold">
            Try with <span class="text-primary">estimates</span> or
            <span class="text-primary">invoices</span>
          </p>

          <!-- Example invoice images -->
          <div class="d-flex justify-content-center mt-3">
            <img
              src="assets/estimate.png"
              alt="Estimate"
              class="img-thumbnail mx-2"
              width="80"
            />
            <img
              src="assets/invoice.png"
              alt="Invoice"
              class="img-thumbnail mx-2"
              width="80"
            />
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="sideBar()"
      [ngStyle]="{
        position: 'absolute',
        right: '-22px',
        top: showSideBar ? '10px' : '50%',
        transform: showSideBar ? 'none' : 'translateY(-50%)'
      }"
      class="sidebar-btn"
    >
      <span *ngIf="!showSideBar" class="feather icon-menu"></span>
      <span *ngIf="showSideBar" class="feather icon-x"></span>
    </button>
  </div>

  <!-- main container -->
  <div class="right-contain">
    <form [formGroup]="invoiceForm" (ngSubmit)="saveInvoice()">
      <div class="bg-white shadow rounded p-2">
        <!-- Invoice Header -->
        <div class="row mt-3">
          <div class="col-md-8">
            <h1 class="text-primary">{{ title | uppercase }}</h1>
            <p class="fw-bold">
              {{ invoiceForm.value.companyName | uppercase }}
            </p>
            <p>{{ invoiceForm.value.companyAddress }}</p>
            <a href="#" class="text-primary">Edit company</a>
          </div>
          <div class="col-md-4 text-end">
            <p class="text-muted">
              Balance due (hidden):
              <span class="fw-bold">{{ invoiceForm.value.balanceDue }}</span>
            </p>
            <img
              src="assets/logo.png"
              alt="Company Logo"
              class="img-fluid"
              style="max-height: 50px"
            />
          </div>
        </div>

        <!-- Invoice Details -->
        <div class="bg-light p-3 rounded mt-3">
          <div class="row">
            <div class="col-md-4  mb-3">
              <label class="form-label">Add customer</label>
              <select
                class="form-select"
                formControlName="selectedCustomer"
                (change)="onCustomerChange(invoiceForm.get('selectedCustomer').value)"
                [class.is-invalid]="invoiceForm.get('selectedCustomer').invalid && invoiceForm.get('selectedCustomer').touched"
              >
                <option *ngFor="let customer of customers" [ngValue]="customer.id">
                  {{ customer.name }}
                </option>
              </select>
              <div *ngIf="invoiceForm.get('selectedCustomer').invalid && invoiceForm.get('selectedCustomer').touched">
                <small class="text-danger">Please select a customer.</small>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="invoiceForm.get('email').value">
            <div class="col-md-4">
              <label class="form-label">Email</label>
              <input type="text" formControlName="email" class="form-control" [class.is-invalid]="invoiceForm.get('email').invalid && invoiceForm.get('email').touched" />
              <div *ngIf="invoiceForm.get('email').invalid && invoiceForm.get('email').touched">
                <small class="text-danger" *ngIf="invoiceForm.get('email').hasError('required')">Email is required.</small>
                <small class="text-danger" *ngIf="invoiceForm.get('email').hasError('email')">Please enter a valid email address.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Terms</label>
              <input type="text" class="form-control" formControlName="terms" [class.is-invalid]="invoiceForm.get('terms').invalid && invoiceForm.get('terms').touched"/>
              <div *ngIf="invoiceForm.get('terms').invalid && invoiceForm.get('terms').touched">
                <small class="text-danger" *ngIf="invoiceForm.get('terms').hasError('required')">Terms are required.</small>
                <small class="text-danger" *ngIf="invoiceForm.get('terms').hasError('maxlength')">Terms cannot exceed 500 characters.</small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label">Invoice Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="date"
                [class.is-invalid]="invoiceForm.get('date').invalid && invoiceForm.get('date').touched"
              />
              <div *ngIf="invoiceForm.get('date').invalid && invoiceForm.get('date').touched">
                <small class="text-danger" *ngIf="invoiceForm.get('date').hasError('required')">Invoice Date is required.</small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label">Due Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="dueDate"
                [class.is-invalid]="invoiceForm.get('dueDate').invalid && invoiceForm.get('dueDate').touched"
              />
              <div *ngIf="invoiceForm.get('dueDate').invalid && invoiceForm.get('dueDate').touched">
                <small class="text-danger" *ngIf="invoiceForm.get('dueDate').hasError('required')">Due Date is required.</small>
              </div>
            </div>
          </div>
        </div>


        <!-- Input Fields -->
        <!-- <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label">Original Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="originalEmail"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label">EInvoice Validation Status</label>
            <input
              type="text"
              class="form-control"
              formControlName="validationStatus"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label">Invoice Sent SyncToken</label>
            <input
              type="text"
              class="form-control"
              formControlName="syncToken"
            />
          </div>
        </div> -->

        <!-- Tags Input -->
        <div class="mt-3">
          <label class="form-label">Tags (hidden):</label>
          <input
            type="text"
            class="form-control"
            placeholder="Start typing to add a tag"
            formControlName="tags"
            [class.is-invalid]="invoiceForm.get('tags').invalid && invoiceForm.get('tags').touched"
          />
          <div *ngIf="invoiceForm.get('tags').invalid && invoiceForm.get('tags').touched">
            <small class="text-danger" *ngIf="invoiceForm.get('tags').hasError('required')">Tags is required.</small>
          </div>
        </div>

        <!-- Product or Service Table -->
        <div class="mt-4">
          <h5>Product or Service</h5>
          <table class="table table-bordered" formArrayName="items">
            <thead>
              <tr>
                <th>#</th>
                <th>Product/Service</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Tax</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of items.controls; let i = index"
                [formGroupName]="i"
              >
                <td>{{ i + 1 }}</td>
                <td>
                  <select class="form-control" formControlName="product"
                  [class.is-invalid]="invoiceForm.get('items').get(i.toString()).get('product').invalid && invoiceForm.get('items').get(i.toString()).get('product').touched"
                  >
                    <option
                      *ngFor="let option of productOptions"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </option>
                  </select>
                  <div *ngIf="invoiceForm.get('items').get(i.toString()).get('product').invalid && invoiceForm.get('items').get(i.toString()).get('product').touched">
                    <small class="text-danger">Please select a Product/Service.</small>
                  </div>
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="description"
                    [class.is-invalid]="invoiceForm.get('items').get(i.toString()).get('description').invalid && invoiceForm.get('items').get(i.toString()).get('description').touched"
                  />
                  <div *ngIf="invoiceForm.get('items').get(i.toString()).get('description').invalid && invoiceForm.get('items').get(i.toString()).get('description').touched">
                    <small class="text-danger">Description is required.</small>
                  </div>
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="qty"
                    (input)="calculateTotals()"
                    [min]="1"
                    [class.is-invalid]="invoiceForm.get('items').get(i.toString()).get('qty').invalid && invoiceForm.get('items').get(i.toString()).get('qty').touched"
                  />
                  <div *ngIf="invoiceForm.get('items').get(i.toString()).get('qty').invalid && invoiceForm.get('items').get(i.toString()).get('qty').touched">
                    <small class="text-danger">Qty is required.</small>
                  </div>
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="rate"
                    (input)="calculateTotals()"
                    [class.is-invalid]="invoiceForm.get('items').get(i.toString()).get('rate').invalid && invoiceForm.get('items').get(i.toString()).get('rate').touched"
                    [min]="0"
                  />
                  <div *ngIf="invoiceForm.get('items').get(i.toString()).get('rate').invalid && invoiceForm.get('items').get(i.toString()).get('rate').touched">
                    <small class="text-danger">Rate is required.</small>
                  </div>
                </td>
                <td>{{ item.value.qty * item.value.rate | currency }}</td>
                <td>
                  <input
                    type="checkbox"
                    formControlName="tax"
                    (change)="calculateTotals()"
                  />
                </td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteProduct(i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary" (click)="addProduct()">
            Add product or service
          </button>
          <button
            class="btn btn-outline-secondary ms-2"
            (click)="clearProducts()"
          >
            Clear all lines
          </button>

          <!-- Summary Section -->
          <div class="mt-4 border p-3 bg-light">
            <div class="d-flex justify-content-between">
              <span>Subtotal</span>
              <span>{{ invoiceForm.value.subtotal | currency }}</span>
            </div>
            <!-- Taxable Subtotal -->
            <div class="d-flex justify-content-between">
              <span>Taxable subtotal</span>
              <span>{{
                invoiceForm.get("taxableSubtotal")?.value | currency
              }}</span>
            </div>

            <!-- Tax Rate Dropdown -->
            <div class="d-flex justify-content-between mt-2">
              <label for="taxRate">Select tax rate</label>
              <select
                id="taxRate"
                class="form-control w-auto"
                formControlName="selectedTaxRate"
                (change)="calculateTotals()"
              >
                <option *ngFor="let rate of taxRates" [value]="rate.value">
                  {{ rate.label }}
                </option>
              </select>
            </div>

            <!-- Sales Tax -->
            <div class="d-flex justify-content-between mt-2">
              <span
                >Sales tax
                <i
                  class="bi bi-question-circle"
                  title="Tax calculated based on taxable items"
                ></i
              ></span>
              <span>{{ invoiceForm.get("salesTax")?.value | currency }}</span>
            </div>

            <!-- Invoice Total -->
            <div class="d-flex justify-content-between mt-3 fw-bold">
              <span>Invoice total</span>
              <span>{{
                invoiceForm.get("invoiceTotal")?.value | currency
              }}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <!-- Customer Payment Options -->
            <div class="mt-4">
              <h5>
                Customer Payment Options
                <a href="#" class="text-primary">Edit</a>
              </h5>
              <div
                class="mb-2 d-flex overflow-hidden align-items-center"
                style="height: 50px"
              >
                <img
                  src="https://shopify.dev/assets/templated-apis-screenshots/checkout-ui-extensions/2024-10/paymenticon-default.png"
                  alt="Payment Options"
                  class="img-fluid"
                  width="500px"
                />
              </div>
              <textarea
                class="form-control mb-2"
                placeholder="Tell your customer how you want to get paid."
                formControlName="paymentInstructions"
              ></textarea>
              <!-- <div *ngIf="invoiceForm.get('paymentInstructions').invalid && invoiceForm.get('paymentInstructions').touched">
                <small class="text-danger" *ngIf="invoiceForm.get('paymentInstructions').hasError('required')">Tags is required.</small>
              </div> -->
            </div>
            <!-- Notes and Attachments -->
            <div class="mt-3">
              <label class="form-label">Note to Customer</label>
              <textarea
                class="form-control mb-2"
                formControlName="customerNote"
              >
              </textarea>
              <label class="form-label">Internal Customer Notes (hidden)</label>
              <textarea
                class="form-control mb-2"
                formControlName="note"
              ></textarea>
              <label class="form-label">Memo on Statement (hidden)</label>
              <textarea
                class="form-control mb-2"
                formControlName="statementMemo"
              ></textarea>
              <div class="mb-3">
                <label class="form-label fw-bold">Attachments</label>
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control"
                    (change)="onFileSelect($event)"
                    accept=".jpg,.jpeg,.png,.pdf,.doc,.docx,.xlsx,.csv,.txt"
                  />
                </div>
                <small class="text-muted d-block mt-1"
                  >Max file size: 20 MB</small
                >

                <!-- Selected File Preview -->
                <div
                  *ngIf="selectedFile"
                  class="alert alert-light border mt-2 d-flex align-items-center"
                >
                  <span class="me-auto"
                    ><strong>Selected File:</strong>
                    {{ selectedFile.name }}</span
                  >
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeFile()"
                  >
                    <i class="bi bi-trash"></i> Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
      </div>
    </form>
  </div>

  <!-- right sidebar -->
  <div
    class="bg-white m-0"
    [ngStyle]="{ width: showSideBarRight ? '300px' : '0px' }"
  >
    <div
      *ngIf="showSideBarRight"
      [ngStyle]="{ width: showSideBarRight ? '300px' : '0px' }"
    >
      <div class="w-100">
        <div class="card p-3" style="max-width: 400px">
          <div class="d-flex justify-content-between align-items-center">
            <h5>Invoice 854</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="sideBarRight()"
            ></button>
          </div>
          <a href="#" class="text-primary small">Edit default settings</a>

          <div class="accordion mt-3" id="invoiceAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                >
                  Customization
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                data-bs-parent="#invoiceAccordion"
              >
                <div class="accordion-body">
                  Customization settings go here...
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                >
                  Payment options
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#invoiceAccordion"
              >
                <div class="accordion-body">Payment settings go here...</div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                >
                  Design
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#invoiceAccordion"
              >
                <div class="accordion-body">Design settings go here...</div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                >
                  Scheduling
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#invoiceAccordion"
              >
                <div class="accordion-body">Scheduling settings go here...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="sideBar()"[ngStyle]="{
      'position': 'absolute',
      'right': '-22px',
      'top': showSideBarLeft ? '10px' : '50%',
      'transform': showSideBarLeft ? 'none' : 'translateY(-50%)'
    }"
    class="sidebar-btn"
    >
    <span *ngIf="!showSideBarLeft" class="feather icon-menu"></span>
    <span *ngIf="showSideBarLeft" class="feather icon-x"></span>
  </button> -->
  </div>
</div>

