// @import '~ag-grid-community/styles/ag-grid.css';
// @import '~ag-grid-community/styles/ag-theme-alpine.css';

/* segmented-progress-bar.component.scss */
.gridContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.segment-box {
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 150px;
}

.color-indicator {
  height: 10px;
  width: 150px;
  margin-top: 5px;
  border-radius: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.color-indicator:hover {
  transform: scale(1.1);
}

/* Segment Colors */
.blue { background-color: #00aaff; }
.purple { background-color: #aa44ff; }
.orange { background-color: #ff8800; }
.gray { background-color: #d3d3d3; color: #000; }
.green { background-color: #00cc44; }

.transaction-btn{
  background-color: #00cc44;
  color: white;
  border-radius: 5px;
  height: 43px;
}

// sidebar
.data-table-container {
  display: flex;
}

/* Black blurred background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Adds blur effect */
  z-index: 998; /* Behind the sidebar */
}

/* Sidebar Styles */
.table-sidebar {
  width: 300px;
  height: 100%;
  background: #f8f9fa;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 999; /* Above overlay */
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* Visible */
}

/* When sidebar is hidden */
.table-sidebar.hidden {
  transform: translateX(100%); /* Moves sidebar off-screen */
}

/* Close button */
.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}

