
.icon-delete
{
    color:red!important;
    cursor:pointer;
}
ul{
    font-weight:600;
    font-size:16px;
    max-width: 50%!important;
    position: relative;
}
ul>li{
    font-weight:normal;
    font-size:14px;
    padding:1%;
    list-style-type:none;
}
.videoli {
  font-weight: 600;
  color: #e3165b;
  vertical-align:middle;
  line-height:20px;
  height:20px!important;
  cursor:pointer;
  text-align:center;
}
.e-dlg-overlay {
  width: 100% !important;
  height: 100vh !important;
  position: fixed !important;
}
.panelContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
