.container {
  max-width: 80%;
}
.nav-tabs .nav-item{
  width: 200px;
}
.nav-tabs .nav-link {
  color: #000;
  text-align: center;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  padding-top: 15px;
}

button {
  background-color: #007bff;
  color: white;
}


// notification
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(14px);
}
// email tab
.current-email {
  font-size: 16px;
  margin-bottom: 10px;
}

.img-contaner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}
.file-upload {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  overflow: hidden;
  background-color: rgb(233, 233, 233);
  background-size: 100% 200%;
  transition: all 1s;
  color: #aaa5a5;
  font-size: 100px;

  input[type="file"] {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .image {
    height: 1.6em;
  }
}