.zindex-3333 {
  z-index: 3333;
}
.mt-7{
  margin-top: 7rem !important;
}
.sidebar{
  height: 73vh;
  position: sticky;
  top: 106px;
}
.right-contain{
  width: 100%;
  // margin: auto auto;
  height: 73vh;
  overflow-y: scroll;
  padding: 20px;
  padding-top: 0px;
}
.footer-z-inder{
  z-index: 999;
}
.mt-6{
  margin-top: 6rem !important;
}
