<div class="row mt-4">
    <div class="col-12 col-xl-12">
        <div class="row flex-grow-1">
            <div class="col-md-12 col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <span class="d-flex justify-content-between m-3">
                            <h6>Revenue: Target v/s Actual</h6>
                            <div>
                                <img src="../../../../../assets/images/Icon.png" alt=""
                                ngbTooltip="Revenue: Target v/s Actual Stastics">
                              </div>
                            <div class="dropdown">
                            </div>

                        </span>
                        <div class="w-100">
                            <ejs-chart style='display:block; height: 300px;' [chartArea]="chartArea"
                                [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" tooltip="true"
                                [legendSettings]="legend" id="forecastChart">
                                <e-series-collection>
                                    <e-series [dataSource]="TargetVsRevenueGraphData?.target" type="Column" xName="xAxis" yName="yAxis"
                                        name="Target" width="2" columnWidth="0.7" columnSpacing="0.1" opacity="0.3"
                                        fill="#d63384" [marker]=marker>
                                    </e-series>
                                    <e-series [dataSource]="TargetVsRevenueGraphData?.revenue" type="Column" xName="xAxis"
                                        yName="yAxis" name="Revenue" width="2" columnWidth="0.5"
                                        columnSpacing="0.1" opacity="0.3" fill="#6610f2">
                                    </e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 grid-margin stretch-card">
                <div class="card ">
                    <div class="card-body">
                        <span class="d-flex justify-content-between m-3">
                            <h6>Required Workorders for Target Achievement</h6>
                            <div>
                                <img src="../../../../../assets/images/Icon.png" alt=""
                                ngbTooltip="Required Workorders for Target Achievement Stastics">
                              </div>
                            <div class="dropdown">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected value=""></option>
                                    <option value="1">Quarterly</option>
                                </select>
                            </div>
                        </span>

                        <div class="w-100">
                            <ejs-accumulationchart style='display:block; height: 300px;' id='forecastChart1'
                                [legendSettings]="legend" tooltip="true" [annotations]='annotations'
                                enableAnimation="true" [enableBorderOnMouseMove]='false'
                                (pointRender)='pointRender($event)'  [tooltip]="tooltip">
                                <e-accumulation-series-collection>
                                    <e-accumulation-series name='Browser' [dataSource]='targetAchive' xName='Browser'
                                        yName='Users' startAngle="270" endAngle="90" innerRadius="40%"
                                        tooltipMappingName='Browser'
                                        opacity="0.3" tool>
                                    </e-accumulation-series>
                                </e-accumulation-series-collection>
                            </ejs-accumulationchart>
                        </div>
                        <p class="text-gray">Achieve target by completing 5 work orders with average price of $50.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
