<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    }

    .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
    color: #333;
    text-align: center;
    margin-top: 0;
    }

    p {
    margin-bottom: 15px;
    }
    </style>

</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <p>Hi [UsersName],</p>
        <p>We noticed that you've requested to reset your password for your account. No worries, we're here to help you regain access to your account.</p>
        <p>To reset your password, simply click on the button below:</p>
        <p style="text-align: center;">
        <!--<a href="https://localhost:7109/Account/resetpwd?resetpwdcode=ResetPwdTempCode" style=" display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Reset Password</a></p>-->
        <a href="https://localhost:44468/resetpwd?resetpwdcode=ResetPwdTempCode" style=" display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;">Reset Password</a></p>
        <p>If you didn't request this, please ignore this email. Your password won't be changed until you confirm it.</p>
        <p>Thanks,<br>Envision Beyond</p>
    </div>
</body>
</html>