<span class="backArrow" (click)="location.back()">&#8592;</span>
<div class="row h-100 g-0">
  <div class="d-none d-lg-block col-lg-5">
    <div class="slider-light">
      <div class="position-relative d-flex justify-content-center align-items-center" style="background-image: url('assets/images/Login Image.png');background-position:top;
                  background-repeat:no-repeat;background-size:cover;height:93vh!important">
        <div class="column">
          <h2 class="AITxt">
            Putting AI to work in your Field Services</h2>

          <h3 class="maximize">Maximize </h3>

        </div>
      </div>

    </div>
  </div>
  <div class="d-flex bg-white justify-content-center col-md-12 col-lg-7">
    <div class="mx-auto col-sm-12 col-md-10" style="overflow-y: auto;max-height: 90vh;">
      <h4 class="mb-3">ETAPRISE TERMS OF SERVICE</h4>
      <p>Welcome to Etaprise , a technology service (“Service”) operated by Etaprise Inc.
        (“Etaprise,” “we,” “our,” or “us”), and offered via the www.etaprise.com / www.etaprise.ai website (“Our
        Website”),
        that enables Field Services Business (“Customers”, ”you”) to run their business operations.</p>
      <p>
        <b>ACKNOWLEDGEMENT & ACCEPTANCE</b>
        By accessing or using the Service, you represent that you have read, understood, and agree to be bound by these
        Terms of Service (the “Terms of Service” or “Agreement”). This Agreement, together with the Privacy Policy,
        applies to customers who access, enroll in, or use the Service (“Users,” used interchangeably with “you”
        throughout this Agreement). “User” means you as an individual, as well as the employer or entity on whose behalf
        you are using the Service, and you represent and warrant that you are authorized to enter into this Agreement on
        behalf of yourself and such employer or entity. “User” also includes consumers that use any of our services, as
        applicable.
        <b>
          You acknowledge and agree that we may amend this Agreement at any time by posting a revised version of this
          Agreement on the Service or Our Website or by notifying you directly in our sole discretion. Your continued
          use of the Service after any changes are made to this Agreement shall constitute your consent to such changes.
          We do not and will not assume any obligation to notify Users of any changes to this Agreement. You are
          responsible for remaining knowledgeable about the terms of the Agreement.
          You further acknowledge that Etaprise services are designed solely for businesses, and not for consumers, and
          that purchase and use of Etaprise services constitutes a business-to-business transaction.

          THE SECTION BELOW LABELED “DISPUTE RESOLUTION; MANDATORY ARBITRATION” OF THESE TERMS OF SERVICE CONTAINS
          PROVISIONS GOVERNING HOW CLAIMS THAT YOU AND WE HAVE AGAINST EACH OTHER ARE RESOLVED, INCLUDING, WITHOUT
          LIMITATION, ANY CLAIMS THAT AROSE OR WERE ASSERTED PRIOR TO THE EFFECTIVE DATE OF THIS AGREEMENT. IN
          PARTICULAR, THESE TERMS OF SERVICE CONTAIN AN ARBITRATION AGREEMENT WHICH WILL, WITH LIMITED EXCEPTIONS,
          REQUIRE DISPUTES BETWEEN US TO BE SUBMITTED TO BINDING AND FINAL ARBITRATION. UNLESS YOU OPT OUT OF THE
          ARBITRATION AGREEMENT, AND SUBJECT TO CERTAIN PROVISIONS BELOW: (1) YOU WILL ONLY BE PERMITTED TO PURSUE
          CLAIMS AND SEEK RELIEF AGAINST US ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR
          REPRESENTATIVE ACTION OR PROCEEDING; AND (2) YOU ARE WAIVING YOUR RIGHT TO SEEK RELIEF IN A COURT OF LAW AND
          TO HAVE A JURY TRIAL ON YOUR CLAIMS.

        </b>
      </p>
      <p>
        <b>ETAPRISE SERVICES</b>
        Etaprise offers you the use of our mobile and web-based Services which consist of field service management
        services and tools, subject to our various types and levels of subscription plans, as well as add-ons for
        additional fees. We also offer Customers the ability to process payments and access certain other services
        through Etaprise via our Third-Party Providers (defined below), including but not limited to GenerativeAI, Maps,
        VoiceAI, Bookkeeping Services. Your use of our Service is solely authorized for supporting your business, and
        for consumers, solely for your personal use.
      </p>
      <div class="divider"></div>
      <div>
        <h4><b>USE OF THE SERVICE</b></h4>
        <p>
          The Service is offered to Users who are 18 years of age or older and reside in the United States, Canada,
          Australia, New Zealand, Singapore, Malaysia, Indonesia, Philippines & India. Use of the Service is permitted
          only by individuals who can form legally binding contracts under applicable law. If you do not qualify, do not
          use the Service. By using the Service, you represent and warrant that you are 18 years of age or older and
          otherwise meet all eligibility requirements herein. You further represent that all information you provide to
          us (including any customer and employee information) or any of our Third-Party Providers and vendors shall be
          accurate, and that you shall have all necessary rights to provide and use such information for use as
          contemplated herein. In addition, you represent and warrant that you will comply with all applicable federal,
          state and local laws, rules and regulations with respect to your use of the Service.
        </p>
      </div>
      <div>
        <h4><b>LICENSE</b></h4>
        <p>Subject to User’s compliance with this Agreement, Etaprise hereby grants User a revocable, non-exclusive,
          non-transferable right to access and use the Service, solely in the conduct of User’s normal course of
          business, and in accordance with this Agreement. User understands and agrees that the Service is provided
          under license to User, not being sold to User, and User does not gain any ownership interest of any kind in
          the Service under this Agreement.
          Etaprise will not be liable if, for any reason, all or any part of the Service is unavailable at any time or
          for any period. From time to time, Etaprise may restrict access to some parts of the Service, or the entire
          Service, to Users. Etaprise does not make any representations or guarantees regarding uptime or availability
          of the Service.
        </p>
      </div>
      <div>
        <h4><b>SERVICE DATA YOU PROVIDE AS A CUSTOMER</b></h4>
        <p>In using the Service, You may provide us, directly or indirectly, with information about you or your
          business, including but not limited to the following types of information (which shall be referred to
          collectively as “Service Data”):</p>
        <p><b>Business Profile</b>
          We require Customers to complete a profile (“Company Profile”). We do not review or verify the information or
          representations set forth in Company Profiles.

        </p>
        <p>
          <b>Licenses</b>
          Customers are requested to post licensing information in their Company Profile. Different jurisdictions may
          require state and/or local (county or municipal) level licensing for certain services, work, and/or project
          amounts.
        </p>
        <p>
          <b>Insurance and Bonding</b>
          Customers may post information and documents concerning insurance policies and/or bonds covering their
          operations. We do not verify the accuracy of this information.
        </p>
        <p>
          <b>Account Data</b>
          Individual Account data entered or imported by customers shall remain the property of the customer. User
          grants Etaprise and its affiliates and service providers the right to use, reproduce, modify, perform,
          display, distribute and otherwise disclose to third parties any such customer data as may be necessary to
          provide the Service, including any third-party Apps you choose to download from our App store, to you and
          other customers, and for Etaprise internal business uses, and any other uses permitted by law, subject to the
          Etaprise privacy policy.
        </p>
        <p>
          <b>Job Pricing Data</b>
          Job pricing data entered or imported by Customer shall remain the property of the Customer. We will not share
          the individual price data with a third party without the consent of the customer, however, we reserve the
          right to anonymize and aggregate pricing data and use such data for our business purposes.
        </p>
        <p>
          <b>Feedback</b>
          In the event that you provide us with any feedback regarding the Service, including without limitation, any
          flaws, errors, bugs, anomalies, problems with and/or suggestions for the service or the Service (“Feedback”),
          you hereby assign to us all rights, including intellectual property rights, in the Feedback, including but not
          limited to, the right to use such Feedback and related information in any manner we deem appropriate.
        </p>
        <p>
          <b>Login information</b>
          You are responsible for maintaining the confidentiality of your account password. You are also responsible for
          all activities that occur in connection with your account, including but not limited to any unauthorized
          transactions involving any hacking or unauthorized access to or use of your account or account information.
          Etaprise has no liability for any funds paid that were charged from your account or using your credit or debit
          card information or paid or transferred to the account or card on file in your Etaprise account. You agree to
          notify us immediately of any unauthorized use of your account. User is responsible and liable for: (i) User’s
          conduct; and (ii) any use of the Service through User’s information technology systems or environment, whether
          authorized or not. We have the right to disable any username, password, or other identifier, whether chosen by
          User or provided by Etaprise, at any time if, in our opinion, User has violated any provision of this
          Agreement.
        </p>
        <p>
          <b>Data from Other Accounts</b>
          We may have access to financial and transactional data that you provide us via an import from your accounts
          with one or more other service providers, including Quickbooks, including data in such an account that is
          captured before or after any integration with Etaprise (“Other Account Data”). You authorize us to share your
          Other Account Data with our Third-Party Providers for the purposes of providing the Services and Third-Party
          Services to you.
        </p>
        <p>
          <b>Geolocation Data</b>
          We may have access to certain geolocation data of you and/or your vehicles, obtained from mobile devices
          including mobile phones, and third-party vehicle tracking devices, offered as a service by us. You acknowledge
          that you have all necessary consents and rights to convey any and all rights granted hereunder to us.
        </p>
        <p>
          <b>Payment Processing Information</b>
          You may provide certain payment processing information including but not limited to dates, amounts and forms
          of payments you receive. Users warrant that all information they provide or submit, including but not limited
          to Service Data, is complete, accurate and current.
        </p>
        <p>
          <b>Third-Party Vendor Login</b>
          In the event you elect to share your login and password information for a vendor of yours with Etaprise to
          allow Etaprise to take actions on your behalf upon your instructions, you represent and warrant that you are
          authorized to share such information with us, and that you are hereby authorizing us to take any actions that
          you direct us to take.
        </p>
        <p>
          <b>LICENSE TO SERVICE DATA / HOW WE USE SERVICE DATA</b>
          By submitting Service Data or any other content on or through our Service, you hereby grant us a
          non-exclusive, royalty-free, perpetual, irrevocable, worldwide, fully paid license (with the right to
          sublicense) to use, copy, transmit, modify, display and distribute such content (i) to the extent necessary to
          provide the Service; (ii) for internal business purposes; (iii) to evaluate your eligibility to use our
          Service and Third-Party Services, in our sole discretion, as well as to create and present to you relevant new
          offerings from Etaprise and our partners, (iv) to improve, modify and adapt our Service, and (v) for any other
          lawful purpose. You represent and warrant that you have all the rights, power and authority necessary to grant
          the rights granted herein to the Service Data and any content or materials that you submit to your Etaprise
          account or the Service.
        </p>
        <p>
          Such use is subject to our rights and obligations set forth in our privacy policy in effect as posted at
          www.etaprise.com/privacy. Examples of use may include, without limitation, the following:
        </p>
        <ul>
          <li>Provide relevant data to our Service and Third-Party Providers (defined below), vendors and applications
            (“Apps”) that utilize functionality from your account to fulfill their services and evaluate your
            eligibility for additional services;</li>
          <li>Send communications on your behalf to effect the intended purposes of the applicable Service, e.g.,
            sending job scheduling emails, sending en-route text notifications, offering your marketing promotions;</li>
          <li>Make your services available on our and third-party Booking Services that we partner with;</li>
          <li> Generate invoices to you and collect payment thereon; </li>
          <li>Verify your identity, and prevent fraud or other unauthorized or illegal activity;</li>
          <li>Analyse and create anonymized aggregate industry trends and analytics to improve the Service and create
            new features and offerings;</li>
          <li>Provide customer support to you;</li>
          <li>Use the names, trademarks, service marks and logos associated with your company to promote the Service;
          </li>
          <li>Provide you with job applicants potentially looking for jobs in your industry; </li>
          <li>Send you offers and marketing materials from Etaprise and any of our partners or affiliates that we
            believe may be of interest to you, and</li>
          <li>any other use that we, or a third-party App or Third-Party Provider, describes at the point where we
            collect data or information with your consent.</li>

        </ul>
        <p>
          Aggregated & Statistical Service Data Rights. Notwithstanding any other provision of this Agreement, Etaprise
          shall own all right, title and interest to any anonymized, aggregated and statistical data created, generated
          and/or derived from the Service Data and use of the Service. If Etaprise does not automatically own any
          anonymized aggregated and statistical data upon its creation, you hereby assign all right, title and interest,
          including intellectual property rights, in and to such aggregated and statistical data to Etaprise.
        </p>
        <p>
          You hereby grant to Etaprise a non-exclusive, irrevocable, perpetual, unlimited, worldwide license to use and
          permit others to use, at no cost, your name, photograph, video and voice (from any recordings you provide or
          upload, or recordings made by us that include you), statements, likeness, and personal characteristics
          (“Materials”) in connection with Etaprise’s business purposes, including but not limited to, advertising and
          commercial exploitation, in any format now known or hereafter developed at Etaprise’s sole discretion. Such
          uses of the Materials may include, but are not limited to: use on Our Website, use on social media, use of
          Materials within advertising, promotional, and educational communications, use for training, and any other
          public use in furtherance of Etaprise business purposes.
        </p>
      </div>
      <div>
        <h4>COMMUNICATING WITH YOU/TCPA CONSENT; WITHDRAWING CONSENT; HELP</h4>
        <b>You authorize Etaprise, inclusive of its agents, affiliates and independent contractors, to contact you at
          the email address(es) and telephone number(s) that you have provided to Etaprise for advertisement,
          telemarketing, solicitation or other purposes, using an automated telephone dialing system or a pre-recorded
          or artificially-generated voice to deliver a message, or texting you, even if you have previously requested to
          be placed on our Do-Not-Call list, or your phone number appears on a state or federal Do-Not-Call list, or you
          have previously opted-out from receiving marketing emails from us. You can withdraw your consent to receive
          text messages at any time by replying with a text saying “STOP”. After you send a message “STOP” to us, we may
          send you a text message to confirm that you have been unsubscribed. After this, you will no longer receive
          text messages from us, unless you thereafter provide consent. </b>
        If you are experiencing issues with the text messaging program you can reply with the keyword “HELP” for more
        <!-- assistance, or you can get help directly at support@etaprise.com. Neither the carriers, nor Etaprise are liable -->
        for delayed or undelivered messages. As always, message and data rates may apply for any messages sent to you
        from us, and to us from you. Message frequency may vary. If you have any questions about your text or data plan,
        it is best to contact your wireless provider. If you have any questions regarding privacy, please read our
        privacy policy at https://www.etaprise.com/privacy.
        <b>Consent to receive marketing messages is not a condition to using our services, and if you choose not to
          consent, you may opt out by calling +1 669 777 5279.</b>
        <p>
          You also agree that all personal information you provide to register with the Service is governed by our
          Privacy Policy, and you consent to all actions Etaprise takes with respect to your personal information
          consistent with its Privacy Policy. Where it is permitted by law, Etaprise may rely on implied consent. You
          also represent and warrant that you have obtained all necessary consents for any communications to your
          employees and customers that are facilitated by or delivered via our Service.
        </p>
      </div>
      <div>
        <h4>SUBSCRIPTION FEE FOR USE OF ETAPRISE</h4>
        <p>Subscription fee</p>
        <p>
          Etaprise has various levels of service that are billed on a subscription basis for the term as specified when
          you subscribed. When you sign up for a subscription-billing based account, you agree to pay for, and to allow
          us to bill your credit card (or other payment method provided by you) for, all due charges, including all
          taxes and other applicable charges, in advance, at regular intervals, in accordance with the term of the
          Services to which you subscribed. The subscription period can be month-to-month, annual, or another duration
          described more fully on https://www.etaprise.com/pricing/. You understand and agree that we may elect to
          modify your billing frequency at any time, without notice, including, for example, billing a monthly
          subscription on a weekly basis.
          <b>ALL SUBSCRIPTIONS AUTOMATICALLY RENEW, IF NOT TERMINATED PRIOR TO SUCH AUTO-RENEWAL FOR A PERIOD EQUAL TO
            THE SUBSCRIPTION PERIOD.</b>
          For renewals, Etaprise will automatically charge your payment method in the amount of the then-current fee for
          your type of account, plus applicable taxes. You hereby authorize us to re-bill for any failed billing or
          past-due amounts, including charging any alternate forms of payment that you have provided. Subscription fees
          will not be prorated or refunded, except as expressly set forth in this Agreement. We will bill you a full
          period’s subscription fee and you are responsible for payment of such fee. We reserve the right to revise
          pricing, for any or all of our offerings, at any time, and such revised pricing shall become effective upon
          our provision of notice or as otherwise provided in such notice. Any fees not paid when due may incur late
          payment fee equal to the lesser of 1.5% per month or the maximum amount allowed by law.


        </p>

      </div>
      <div>
        <h4>Customer Service</h4>
        <p>
          You are solely responsible for all customer service issues between you and your customers relating to your
          services, including pricing, fulfilment, cancellation by you or customer, returns, refunds and adjustments,
          rebates, functionality and warranty, technical support, and feedback, reviews, or ratings concerning
          experiences with your personnel, policies or processes. In performing customer service, you will always
          present yourself as a separate entity from us.
        </p>

      </div>
      <div>
        <h4>Taxes – Sales & Use</h4>
        <p>To protect our customers and comply with all local laws, we will collect and remit sales tax where required.
          Not all states enforce sales tax on products and services like Etaprise, so you may not be affected.</p>
      </div>
      <div>
        <h4>Taxes – Withholding</h4>
        <p>
          You are responsible for determining any and all taxes assessed, incurred, or required to be collected, paid,
          or withheld for any reason in connection with your use of our Service (“Taxes”). You also are solely
          responsible for collecting, withholding, reporting, and remitting correct Taxes to the appropriate tax
          authority. If in a given calendar year you receive more than $600 in gross amount of payments, we will report
          annually to the Internal Revenue Service (“IRS”), as required by law, your name, business name, address, Tax
          Identification Number, the total dollar amount of the payments you receive in a calendar year, and the total
          dollar amount of the payments you receive for each month in a calendar year. It is your responsibility to
          ensure that your business name and Tax Identification Number as provided to Etaprise are accurate and up to
          date.
        </p>
      </div>
      <div>
        <h4>Refunds and Returns</h4>
        <p>You agree to process returns, and provide refunds and adjustments, for your goods or services through your
          Pro account in accordance with these terms and any applicable Card Association Rules. Card Association Rules
          may require that you will (a) maintain a fair return, cancellation or adjustment policy, (b) disclose your
          return or cancellation policy to customers at the time of purchase, (c) not give cash refunds to a customer in
          connection with a Card sale, unless required by law and (d) not accept cash or any other item of value for
          preparing a Card sale refund. You are responsible for knowing and adhering to the Card Association Rules
          applicable to you, and Etaprise will not be liable for any violation by you of the Card Association Rules. The
          amount of the refund/ adjustment must include any associated taxes required to be refunded, and all Payment
          Processing Fees, and cannot exceed the amount shown as the total on the original sales data except by the
          exact amount required to reimburse the customer for postage that the customer paid to return merchandise. If
          you accept returns and are making an uneven exchange of merchandise (e.g., the sales price is not the same),
          you must issue a credit for the total amount of the merchandise being returned and complete a new sale for any
          new merchandise. Please be aware, if your refund policy prohibits returns or is unsatisfactory to the buyer,
          you may still receive a Chargeback relating to such sales. You can process a refund through your account up to
          sixty (60) days from the day you accepted the payment. If the balance in your account is insufficient to cover
          the refund, we will withdraw up to the requested refund amount from your bank account and credit it back to
          your customer’s Card. Because you are responsible for all Payment Processing Fees, in the event of a refund,
          Etaprise Pro may retain the Payment Processing Fees previously paid for the transaction, however, you are
          responsible for refunding to your customer the full amount paid by your customer (including the Payment
          Processing Fees), and you authorize Etaprise to refund all such amounts to the consumer from your account. We
          have no obligation to accept any returns of any of your goods or services on your behalf.</p>

      </div>
      <div>
        <h4>Account History</h4>
        <p>We provide you an online transaction history of all of your authorized transactions. Except as required by
          law, you are solely responsible for (a) compiling and retaining permanent records of all transactions and
          other data associated with your account and your use of the Service and (b) reconciling all transactional
          information that is associated with your account.</p>

      </div>
      <div>
        <h4>INTELLECTUAL PROPERTY </h4>
        <b>Ownership</b>
        <p>We or our licensors or partners own the intellectual property rights in the content and materials displayed
          on Our Website(s), including but not limited to any materials to which you have access via your use of Conquer
          services (“Site Content”). You may use Our Website(s) (including any Site Content) for your own personal,
          non-commercial use, but you may not use it for commercial purposes. You may not modify, copy, reproduce,
          republish, upload, post, transmit, translate, sell, create derivative works, exploit, or distribute in any
          manner or medium (including by email or other electronic means) any Site Content unless explicitly authorized
          in these Terms of Service or by the owner of the materials. You may, however, from time to time, download
          and/or print one copy of individual pages of Our Website for your personal, non-commercial use, provided that
          you keep intact all copyright and other proprietary notices.</p>

      </div>
      <div>
        <h4>ACCEPTABLE USE OF OUR SERVICE</h4>
        <p>Certain uses of our Service are inconsistent with our mission to improve the experience of our customers. The
          following activities are prohibited:</p>
        <ul>
          <li>Child exploitation: You may not post or upload Materials that exploit or abuse children, including but not
            limited to images or depictions of child abuse or sexual abuse, or that present children in a sexual manner.
          </li>
          <li>Harassment, bullying, defamation and threats: You may not post or upload Materials that harass, bully,
            defame or threaten any person.</li>
          <li>Hateful content: You may not use the Service to promote or condone hate or violence against people based
            on race, ethnicity, color, national origin, religion, age, gender, sexual orientation, disability, medical
            condition, veteran status or other forms of discrimination. You may not use the Service to promote or
            support organizations, platforms or people that: (i) promote or condone such hate; or (ii) threaten or
            condone violence to further a cause.</li>
          <li>Illegal activities: You may not post or upload Materials that violate any applicable laws.</li>
          <li>Privacy or Intellectual property: You may not post or upload Materials that infringe on the privacy or
            intellectual property rights of others.</li>
          <li>Obscene or offensive content. You may not post or upload any Materials that we find in our sole discretion
            to be obscene, indecent or offensive in any way.</li>
          <li>Malicious and deceptive practices: You may not use the Service to transmit malware or host phishing pages.
            You may not perform activities or upload or distribute Materials that harm or disrupt the operation of the
            Service or other infrastructure of Etaprise or others, including any of our third-party providers. You may
            not use the Service for deceptive practices or activities.</li>
          <li>Personally identifiable or confidential information. You may not post or upload any Materials that contain
            personally identifiable information, sensitive personal information, or confidential information, such as
            credit card numbers, or account passwords unless you have consent from the person to whom the information
            belongs or who is otherwise authorized to provide such consent.</li>
          <li>Self-harm: You may not offer goods or services, or post or upload Materials that promote self-harm.</li>
          <li>Spam: You may not use the Services to transmit unsolicited commercial electronic messages.</li>
          <li>Terrorist organizations: You may not offer goods or services, or post or upload Materials that imply or
            promote support or funding of, or membership in, a terrorist organization.</li>
          <li>Service Bureau: You may not, directly or indirectly, use any of our Services for timesharing or service
            bureau purposes or otherwise for the benefit of a third party, other than as specifically authorized herein;
          </li>
        </ul>
        <p>We may, at any time and without notice, remove any Materials, and suspend or terminate your Account or your
          access to the Service if you engage in activities that violate this Agreement.</p>

      </div>
      <div>
        <h4>ETAPRISE PRODUCTS AND SERVICES</h4>
        <p>Etaprise offers all of its products, services and content on an “as-is” basis. This includes any products,
          services or content including but not limited to those relating to booking, scheduling, invoicing, job
          pricing, payroll processing, coaching, Job Plans and agreements, training, virtual assistant, websites,
          ratings, inventory, parts ordering, sales proposals, blog posts, and social media posts. We may change terms,
          including pricing, for any products or services, and discontinue any products or services, including
          Third-Party Services, upon prior notice to you. </p>

      </div>
      <div>
        <h4>Pricebook</h4>
        <p>
          If you use our Pricebook feature, you understand and acknowledge that prices generated from Pricebook do not
          guarantee any particular outcome. Many factors are involved in the profitability of a business, and the
          Pricebook service is offered merely as a tool to assist you with evaluating your pricing of jobs. </p>
      </div>
      <div>
        <h4>Beta Testing</h4>
        <p>You may from time to time be invited to participate in the alpha or beta testing of a new proposed product or
          service (“Beta Product”), which may be free, or for which there may be fees. Unless you enter into a separate
          beta agreement with regard to any such Beta Product, you acknowledge and agree that: (a) the Beta Product is
          not an official product and has not been commercially released for sale by Etaprise; (b) the Beta Product is
          provided “as is”, and may not operate properly or be fully functional; (c) the Beta Product may contain
          errors, design flaws or other problems; (d) use of the Beta Product may result in unexpected results, loss of
          data or communications, or other unpredictable damage or loss; and (e) Etaprise has the right to abandon
          development of the Beta Product at any time and without any obligation or liability to you. You are solely
          responsible for maintaining and protecting all data and information that is retrieved, extracted, transformed,
          loaded, stored or otherwise processed by the Beta Product.</p>

      </div>
      <div>
        <h4>Forms and Templates</h4>
        <p>
          We may offer or provide access to certain forms or templates as part of the Services (“Forms”). These Forms
          are provided for information purposes only, and do not constitute legal, tax, accounting or business advice.
          While such Forms may assist you in complying with applicable laws and regulations, it is solely your
          responsibility to ensure that your business complies with all applicable laws and regulations. Etaprise makes
          no representations about such Forms. You should consult with appropriate professionals before using any such
          Forms.
        </p>

      </div>
      <div>
        <h4>INTERACTIONS AND DISPUTES WITH CONSUMERS</h4>
        <p>No Warranty or Endorsement of your Services
          WE DO NOT ENDORSE OR RECOMMEND THE SERVICES OF ANY PARTICULAR USER. THE DECISION TO ENTER INTO AN AGREEMENT
          FOR WORK BELONGS ENTIRELY TO THE CONSUMER. WE DO NOT WARRANT USER’S PERFORMANCE ON THE JOB OR THE QUALITY OF
          GOODS, MATERIALS, EQUIPMENT OR SERVICES FURNISHED BY USER. WE DO NOT CONTRACT FOR OR PERFORM, AND ARE NOT
          RESPONSIBLE FOR, ANY OF THE SERVICES REQUESTED BY THE CONSUMER IN THE SERVICE REQUEST. YOU EXPRESSLY
          ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. WE MAKE NO REPRESENTATIONS OR
          WARRANTIES AS TO THE CONDUCT OF ANY USER OR THE USER’S ABILITY TO PROVIDE A SERVICE COMPLIANT WITH THE
          CONSUMER’S SERVICE REQUEST. YOU EXPRESSLY ACKNOWLEDGE THAT WE MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED,
          REGARDING THE QUALITY OF SERVICES RENDERED BY ANY USER.
        </p>

      </div>
      <div>
        <h4>NO REPRESENTATIONS OR WARRANTIES</h4>
        <p>WE MAKE NO REPRESENTATION ABOUT THE SUITABILITY OF THE CONTENT ON OR SERVICES OF THIS SERVICE FOR ANY
          PURPOSE. WE DO NOT PROMISE THAT THE SERVICE WILL BE ERROR-FREE, UNINTERRUPTED, OR THAT IT WILL PROVIDE
          SPECIFIC RESULTS FROM USE OF THE SERVICE OR ANY CONTENT, SEARCH OR LINK ON IT. WE MAKE NO REPRESENTATION THAT
          YOUR WEBSITE WILL SATISFY ANY REQUIREMENTS OF THE AMERICANS WITH DISABILITIES ACT OR OF ANY OTHER LAW,
          REGULATION OR ORDINANCE GOVERNING ACCESSIBILITY OF WEBSITES OR PLACES OF PUBLIC ACCOMMODATION OR OF ANY
          PRODUCTS OR SERVICES. THE SERVICE AND ITS CONTENT ARE DELIVERED ON AN “AS-IS” AND “AS-AVAILABLE” BASIS. WE
          SHALL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY ERRORS OR OMISSIONS IN THE CONTENT OF THIS SERVICE,
          DOWNTIME OF THE SERVICE, FOR YOUR ACTION OR INACTION IN CONNECTION WITH THIS SERVICE OR FOR ANY DAMAGE TO YOUR
          COMPUTER OR DATA OR ANY OTHER DAMAGE YOU MAY INCUR IN CONNECTION WITH THIS SERVICE. WE SPECIFICALLY DISCLAIM
          ALL WARRANTIES AND CONDITIONS OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS
          OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. WE MAKE NO GUARANTEES OF ANY
          SPECIFIC RESULT FROM USE OF THIS SERVICE. YOUR USE OF THIS SERVICE IS AT YOUR OWN RISK.
          WE MAY FROM TIME TO TIME RECOMMEND, PROVIDE YOU WITH ACCESS TO, OR ENABLE THIRD-PARTY SOFTWARE APPLICATIONS,
          PRODUCTS, SERVICES, CONTENT OR WEBSITE LINKS INCLUDING THIRD-PARTY SERVICES (“ADDITIONAL SERVICES”) FOR YOUR
          CONSIDERATION OR USE. SUCH ADDITIONAL SERVICES ARE FOR YOUR CONVENIENCE ONLY AND WE MAKE NO REPRESENTATION OR
          WARRANTY OF ANY KIND WHATSOEVER REGARDING SUCH ADDITIONAL SERVICES.
        </p>
      </div>
      <div>
        <h4>NO ADVICE</h4>
        <p>WE MAY PROVIDE YOU WITH ACCESS TO CERTAIN CONTENT, MATERIALS, INFORMATION, COACHING, AND PARTNER AND
          THIRD-PARTY SERVICES, REGARDING OR RELATING TO YOUR BUSINESS, TAXES, ACCOUNTING, PAYROLL, HUMAN RESOURCES
          COMPLIANCE, RETIREMENT PLAN SERVICES, BUSINESS AND OTHER INSURANCE SERVICES OR LEGAL INFORMATION, BUT YOU
          ACKNOWLEDGE AND AGREE THAT NEITHER WE, NOR ANY OF OUR PARTNERS OR THIRD-PARTY SERVICE PROVIDERS ARE PROVIDING
          ANY TAX, LEGAL, ACCOUNTING, BUSINESS OR OTHER ADVICE TO YOU, AND YOU AGREE AND ACKNOWLEDGE THAT YOU ARE NOT
          ENTITLED TO RELY UPON ANY SUCH INFORMATION YOU RECEIVE FROM US OR OUR PARTNERS OR THIRD-PARTY SERVICE
          PROVIDERS, WHETHER VIA OUR WEBSITE, THE SERVICE OR ANY COMMUNICATIONS WITH US, OR ANY SOCIAL MEDIA OR OTHER
          INTERNET POSTS. YOU AGREE THAT YOU WILL CONSULT APPLICABLE OUTSIDE PROFESSIONALS WITH REGARD TO ANY TAX,
          ACCOUNTING, LEGAL OR BUSINESS ADVICE. </p>

      </div>
      <div>
        <h4>LIMITATIONS OF LIABILITY</h4>
        <p>IN NO EVENT SHALL WE, OUR OFFICERS, DIRECTORS, AFFILIATES, PARTNERS, PARENT COMPANIES, EMPLOYEES AND/OR
          AGENTS BE LIABLE FOR ANY DAMAGES WHATSOEVER, UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF
          CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND OTHERWISE, INCLUDING WITHOUT LIMITATION, DIRECT,
          INDIRECT, PUNITIVE, INCIDENTAL, GENERAL, SPECIAL OR CONSEQUENTIAL DAMAGES, ARISING OUT OF OR RELATING TO (1)
          THIS AGREEMENT, OR THE USE OF, CONTENT IN, DELAY OR INABILITY TO USE, OR OTHERWISE ARISING IN CONNECTION WITH
          THIS SERVICE, (2) THE CONDUCT OF A USER OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING
          WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES, WHETHER BASED ON CONTRACT,
          TORT, STRICT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. WE ARE NOT LIABLE
          FOR ANY LOST DATA RESULTING FROM THE OPERATION OF THE SERVICE OR THE ENFORCEMENT OF THE TERMS. WE EXPRESSLY
          DISCLAIM ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD-PARTY PROVIDERS, THIRD-PARTY
          USERS, CONSUMER USERS, ADVERTISERS AND/OR SPONSORS ON THE SERVICE, IN CONNECTION WITH THE SERVICE OR OTHERWISE
          RELATED TO YOUR USE OF THE SERVICE. BY USING THE SERVICE, YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL
          INTERACTIONS WITH OTHER USERS OF THE SERVICE. IN NO EVENT WILL ETAPRISE’S AGGREGATE LIABILITY ARISING OUT OF
          OR RELATED TO THIS AGREEMENT UNDER ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT
          (INCLUDING NEGLIGENCE), OR STRICT LIABILITY, EVEN IF FORESEEABLE, EXCEED THE SUM OF ALL FEES PAID BY YOU TO
          ETAPRISE IN THE PREVIOUS SIX (6) MONTHS. TO THE EXTENT YOUR STATE DOES NOT ALLOW THE EXCLUSION OR LIMITATION
          OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</p>

      </div>
      <div>
        <h4>SECURITY</h4>
        <p>We have implemented technical and organizational measures designed to secure your personal information from
          accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that
          unauthorized third parties will not be able to defeat those measures or use your personal information for
          improper purposes. You acknowledge that you provide such information at your own risk, and that we have no
          liability to you or any third parties due to any unauthorized access to your Etaprise account.
          Blocking of IP Addresses and UDIDs
          In order to protect the integrity of the Service, we reserve the right, at any time, in our sole discretion,
          to block Users from certain IP addresses and UDIDs from accessing the Service.
        </p>

      </div>
      <div>
        <h4>TERMINATION OF ACCOUNT</h4>
        <p>
          This Agreement will remain in full force and effect while you use the Service and if applicable, after
          termination of such use. Some provisions of this Agreement survive termination. Unless otherwise explicitly
          agreed to, you may terminate your account at any time, for any reason. To cancel an account, please send an
          <!-- email to cancellations@etaprise.com. If you terminate your account, your account will be disabled within 14 -->
          days,
          <b>however, you shall not receive any refund of any fees, including but not limited to subscription fees,
            unless explicitly stated otherwise herein.</b>
          We may terminate your account or this Agreement at any time, with or without cause, by sending notice to you
          at the email address you provide in your account registration, or such other email address as you may later
          provide to us. All decisions regarding the termination of accounts shall be made in our sole discretion. We
          are not required to provide you notice prior to terminating your account. We are not required, and may be
          prohibited, from disclosing a reason for the termination of your account. The provisions of these Terms of
          Service shall survive and continue to apply after our relationship expires or has been terminated for any
          reason, except where otherwise required by the context. If you are due a refund for canceling your paid
          account, a refund will generally be issued to you within 14 days of request to cancel. Upon termination of
          your account, we may retain your information, including Service Data, but we have no obligation to do so.
        </p>

      </div>
      <div>
        <h4>JURISDICTION AND CHOICE OF LAW</h4>
        <p>This Agreement is governed by and construed in accordance with the laws of the State of California without
          giving effect to any choice or conflict of law provision or rule. If there is any legal suit, action,
          proceeding or other dispute arising out of this Agreement or the use of the Service, by using the Service you
          expressly agree that any such dispute shall be governed by the laws of the State of California, without regard
          to its conflict of law provisions. You further agree that any dispute that is not required or eligible to be
          submitted to arbitration, as described below, shall be resolved in the state and federal courts located in
          California, and you agree to sole and exclusive jurisdiction in California. </p>

      </div>
      <div>
        <h4>INDEMNIFICATION</h4>
        <p>You agree to indemnify, defend and hold harmless Etaprise, its parents, subsidiaries, affiliates, officers,
          agents, partners and employees, from and against any loss, liability, claim, demand or suit, including
          reasonable attorney’s fees, resulting from or arising out of (a) any of your acts or omissions, (b) any
          violation or breach by you of this Agreement, (c) claims from your employees or customers, or (d) any claim
          that your Domain Name or any of the Materials, or your use of the Service or any Third-Party Services,
          violates any law or regulation or any right of any third party, including any right of privacy, or infringes
          upon any intellectual property rights of any third party.</p>

      </div>
      <div>
        <h4>NO THIRD-PARTY BENEFICIARIES</h4>
        <p>Except as otherwise set forth expressly herein, nothing contained in this Agreement, express or implied, is
          intended to confer upon any person or entity, other than Etaprise and the users, any benefit, right or remedy.
        </p>

      </div>
      <div>
        <h4>RELATIONSHIP OF THE PARTIES</h4>
        <p>Etaprise and Customers are separate and independent entities, and the employee of one of those entities is
          not an employee of the other entity. We are not an agent of the customer and vice versa. In no event will
          Etaprise be considered a general contractor, construction manager, project manager, joint employer, joint
          venturer, or partner of Pros or any of its affiliates or their respective personnel.</p>

      </div>
      <div>
        <h4>ENTIRE AGREEMENT</h4>
        <p>These Terms of Service constitute the entire agreement between you and Etaprise and supersede all oral and
          written negotiations, communications, or representations of the parties, whether verbal or in writing, with
          respect to the subject matter hereof, except as may provided in a written agreement signed by you and an
          authorized officer of Etaprise. These Terms of Service may not be modified or amended other than by an
          agreement signed by both parties. No employee, agent, or other representative of Etaprise has any authority to
          bind Etaprise with respect to any statement, representation, warranty, or other expression unless the same is
          specifically set forth in these Terms of Service.</p>

      </div>
      <div>
        <h4>MISCELLANEOUS</h4>
        <p>
          If any provision of this Agreement is found to be unlawful or unenforceable, then that provision will be
          deemed severable from this Agreement and will not affect the enforceability of any other provisions. The
          failure by Etaprise to enforce any right or provision of this Agreement will not prevent Etaprise from
          enforcing such right or provision in the future. No delay, failure or default, other than a failure to pay
          fees when due, will constitute a breach of this Agreement to the extent caused by an acts of war; terrorism,
          hurricanes, earthquakes and other acts of God or of nature, fire or flood; strike or labor unrest; degradation
          of telecommunications service; degradation of computer services not under the direct control of such party; or
          other causes beyond the performing party’s reasonable control. Etaprise may assign its rights and obligations
          under this Agreement, including in connection with a merger, acquisition, sale of assets or equity, any other
          business combination or restructuring, or by operation of law. Users may not assign rights and obligations
          under this Agreement, including in connection with a merger, acquisition, sale of assets or equity, or by
          operation of law, without Etaprise’ s prior written consent. Etaprise may send notices pursuant to this
          Agreement to User’s email and phone number contact points provided by User, and such notices will be deemed
          received at the time they are sent. It is the User’s obligation to keep User’s contact information up to date.
          Users may send notice pursuant to this Agreement to the email address below.
          Any and all dollar amounts in this Agreement refer to U.S. dollars.
          Contact Information
          If you have questions or comments about the Service or this Agreement, please contact us at
          <!-- termsofservice@etaprise.com. -->
        </p>
      </div>
    </div>
  </div>
</div>
