.page-content{
    background-color: white;
}
ul>li{list-style-type: none;}
.chatwindow_wrapper{
    position: sticky;
    right:0!important;
    margin-left: 80%;
    z-index: 999;
    display: flex;flex-direction:column;justify-content: space-between;
    background-color: white;overflow-x: hidden;
    border-left:1px solid blue;max-height: 80%;
    padding:10px!important;
    margin-bottom: 0%!important;
    bottom: 0;
    margin-top:calc(100vh - 5vh);
}
.chatwindowTitle{
    display:flex;flex-direction: row;justify-content: space-between; background-color: #0d6efd;color:white;
    min-height: 30px;height:20px;font-size:20px!important;text-align: center;
}
.userItem{
    width:100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    .userImg{
        cursor: pointer;
        width:40px;
        height:40px
    }
    .username{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        span:nth-child(1){
            font-weight: 600;
        }
        span:nth-child(2){
            color:grey;
            font-size: small;
        }
    }
}

.onlinestatus{
    min-height: 30px;
    color: green;
}
.offlinestatus{
    min-height: 30px;
    color: orange;
}
.host {
    height: auto;
    border-radius: 50%;
   // position: absolute;
    z-index: 999;
    left: 48%;
    text-align: right;
    object-fit: cover;
  }
  .guest {
    max-width: 100%;
    height: auto;
  }