<style>
    .file-upload {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .img-rounded {
        display: block;
        width: 100%;
        /* Adjust the width as needed */
        height: auto;
    }
</style>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formData">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="color: #010eff;">Company Profile</h1>
                            <span>Update your company logo and details here</span>
                        </div>
                        <div class="col-6 py-5">
                            <h5>Company Legal name</h5>
                        </div>
                        <div class="col-6 py-5">
                            <input type="text" class="form-control" [(ngModel)]="company.companyName" required
                                [ngClass]="{'is-valid': formData.get('companyName').valid && formData.get('companyName').touched,'is-invalid' :formData.get('companyName').invalid && formData.get('companyName').touched}"
                                formControlName="companyName" id="company" placeholder="Company Legal name"
                                name="company" />
                            <label class="text-danger"
                                *ngIf="formData.get('companyName').invalid && formData.get('companyName').touched">
                                Company name is required
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Company Logo</h5>
                                <span>Update your company logo and <br />then choose where you want to
                                    <br />display</span>
                                <br />
                            </div>



                            <!-- <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 pe-5">
                                            <div class="file-upload">
                                                <input type="file" (change)="fileChangeEvent($event)"
                                                    accept=".png, .jpg" except="image/*" />
                                                <img class="img-rounded image" [src]="croppedImage" />
                                            </div>

                                        </div>


                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="flex-grow-1 ms-3">
                                        <div>
                                            <image-cropper [ngStyle]="{width: '300px'}"
                                                [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                                format="png" (imageCropped)="imageCropped($event)"
                                                (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                                (loadImageFailed)="loadImageFailed()"
                                                [roundCropper]="true"></image-cropper>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <style>
                                .control-section {
                                    
                                    margin-bottom: 110px;
                                }
                            </style>

                            <div class="col-lg-6 control-section e-img-editor-sample">
                                <div class="e-profile e-hide d-flex align-items-center">
                                    <div class="e-custom-wrapper">
                                        <canvas id="img-canvas" style="max-width: 200px; max-height: 200px;"></canvas>
                                        <img class="img-rounded image"  alt="img"
                                        id="demo-img"
                                        src="{{setimag}}"
                                        style="display: none;"
                                        (load)="imageLoaded()"/>
                                        <input type="file" id="img-upload" (change)="imageChanged($event)"
                                            style="display: none;" accept="image/*" />
                                        <span id="custom-edit" class="e-custom-edit" (click)="canvasClicked()">
                                            <span class="e-custom-icon sb-icons"></span>
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="e-img-editor-sample" id="profile-dialog">
                                    <ejs-dialog [position]="position" #Dialog [buttons]="dlgButtons" [visible]="visible" crossorigin="*"
                                        [header]="header" [showCloseIcon]="showCloseIcon" [target]="target" 
                                        [width]="width" [height]="height" (open)="dialogOpen()" (close)="dialogClose()">
                                        <ng-template #content >
                                            <ejs-imageeditor 
                                            #ImageEditor [toolbar]="toolbarItems" (created)="created()"
                                                (fileOpened)="fileOpened()">
                                            </ejs-imageeditor>
                                        </ng-template>
                                    </ejs-dialog>
                                </div> -->
                                <div class="e-img-editor-sample" id="profile-dialog">
                                    <ejs-dialog [position]="position" #Dialog [buttons]="dlgButtons" [visible]="visible"
                                      [header]="header" [showCloseIcon]="showCloseIcon" [target]="target" 
                                      [width]="width" [height]="height" (open)="dialogOpen()" (close)="dialogClose()">
                                      
                                      <ng-template #content >
                                        <ejs-imageeditor 
                                          #ImageEditor [toolbar]="toolbarItems" (created)="created()" (fileOpened)="fileOpened()"
                                          > <!-- Add crossorigin attribute here -->
                                         
                                        </ejs-imageeditor>
                                      </ng-template>
                                    </ejs-dialog>
                                  </div>
                                  
                            </div>


                        </div>





                        <div class="row">
                            <div class="col-md-12 py-5">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Branding</h5>
                                <span>Add your logo to reports, invoices & <br />
                                    other important documents</span>
                                <br />
                                <!-- <a href="#" class="text-color">
                                    <strong><u>View examples</u></strong>
                                    <i class="fa fa-chevron-right px-3" aria-hidden="true"></i>
                                </a> -->
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label>
                                        <input type="checkbox" id="IsReport" />&nbsp;
                                        <strong>Reports</strong>
                                    </label>
                                    <br />
                                </div>
                                <p class="px-2" style="padding-bottom: 10px;">Include company logo in summary reports
                                </p>

                                <div class="row">
                                    <label>
                                        <input type="checkbox" checked id="Invoices_Receipts" />&nbsp;
                                        <strong>Invoices & Receipts</strong>
                                    </label>
                                    <br />
                                </div>
                                <p class="px-2" style="padding-bottom: 10px;">Include company logo in summary reports
                                </p>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" checked id="IsEmails" />&nbsp;
                                        <strong>Emails</strong>
                                    </label>
                                    <br />
                                </div>
                                <p class="px-2" style="padding-bottom: 10px;">Include company logo in summary reports
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Industry Type</h5>
                            </div>
                            <div class="col-6 ">
                                <div class="">
                                    <select [(ngModel)]="company.industryTypeId" class="form-control input_drpdwn"
                                        [ngModelOptions]="{standalone: true}" placeholder="" name="industry type"
                                        id="industry type">
                                        <option [ngValue]="undefined" hidden>Select Industry type</option>
                                        <option *ngFor="let item of industryType" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <!-- <h5>Number of Field Technicians</h5> -->
                                <h5> Number of Employees</h5>
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <input type="number" class="form-control"
                                        [(ngModel)]="company.numberofFieldTechnicians" id="url" placeholder=""
                                        value="{{ company.numberofFieldTechnicians }}"
                                        name="numberofFieldTechnicians" />
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Website URL</h5>
                                <!-- <span>This will be displayed in public and <br />used in essential
                                    documents</span> -->
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" [(ngModel)]="company.websiteUrl" id="url"
                                    placeholder="" name="url" formControlName="url"
                                    [ngClass]="{'is-valid': formData.get('url').valid && formData.get('url').touched,'is-invalid' :formData.get('url').invalid && formData.get('url').touched}" />
                                <label class="text-danger"
                                    *ngIf="formData.get('url').invalid && formData.get('url').touched">
                                    Please enter valid url.
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Contact Information</h5>
                            </div>
                            <div class="col-6">
                                <input type="email" required class="form-control" formControlName="emailaddress"
                                    [ngClass]="{'is-valid': formData.get('emailaddress').valid && formData.get('emailaddress').touched,'is-invalid' :formData.get('emailaddress').invalid && formData.get('emailaddress').touched}"
                                    [(ngModel)]="company.email" id="email address" placeholder="Email Address" />
                                <label class="text-danger"
                                    *ngIf="formData.get('emailaddress').invalid && formData.get('emailaddress').touched">
                                    Please enter valid email.
                                </label>
                                &nbsp;

                                <input type="text" class="form-control" [(ngModel)]="company.phoneNumber"
                                    formControlName="phoneNumber" (input)="Changephonenumber($event)" id="phoneNumber"
                                    placeholder="Mobile Number"
                                    [ngClass]="{'is-valid': formData.get('phoneNumber').valid && formData.get('phoneNumber').touched,'is-invalid' :formData.get('phoneNumber').invalid && formData.get('phoneNumber').touched}"
                                    name="phoneNumber" maxlength="14" />
                                <label class="text-danger"
                                    *ngIf="formData.get('phoneNumber').hasError('pattern') && formData.get('phoneNumber').touched">
                                    Please enter a valid phone number in the format (###) ###-####
                                </label>
                                <!-- <ng-select [items]="departments" [multiple]=true [closeOnSelect]="false" required
                                    [searchable]="false" name="test" bindLabel="skillName" placeholder="Select people"
                                    [(ngModel)]="selecteddepartments">
                                </ng-select> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Tax Registration Number (optional)</h5>
                                <!-- <span>This will be displayed in public and <br />
                                    used in essential documents</span> -->
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="company.taxRegistrationNumber" placeholder="Tax Registration Number"
                                    name="taxRegistrationNumber" />
                            </div>
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Tax Filing Address</h5>
                                <!-- <span>This will be displayed in public and <br />
                                    used in essential documents</span> -->
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="address" [(ngModel)]="company.address"
                                    [ngModelOptions]="{standalone: true}" placeholder="Address" value=""
                                    name="address" />&nbsp;
                                <div class="col-md-12 col-lg-12">
                                    <select class="form-control input_drpdwn" placeholder="Country"
                                        [ngModelOptions]="{standalone: true}" (change)="getStatesChange($event)"
                                        [(ngModel)]="company.countryId" name="country" id="country">
                                        <!-- <option selected disabled>Select Country</option> -->
                                        <option [ngValue]="undefined" hidden>Select Country</option>
                                        <option *ngFor="let item of countries" [value]="item.id">
                                            {{ item.countryName }}
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="col-md-12 col-lg-12  mb-4">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" (change)="getCityChange($event)"
                                        [(ngModel)]="company.state" name="state" id="state">
                                        <!-- <option selected disabled>Select State</option> -->
                                        <option [ngValue]="undefined" hidden>Select State</option>
                                        <option *ngFor="let item of states" [value]="item.id">
                                            {{ item.stateName }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-12 mb-4">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" (change)="getZipcodeChange($event)"
                                        [(ngModel)]="company.city" name="city" id="city">
                                        <!-- <option selected disabled>Select City</option> -->
                                        <option [ngValue]="undefined" hidden>Select City</option>
                                        <option *ngFor="let item of citydata" [value]="item.id">
                                            {{ item.cityName }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="company.zipCode"
                                        name="zipCode" id="zipCode">
                                        <!-- <option selected disabled>Select {{dynamictext}}</option> -->
                                        <option [ngValue]="undefined" hidden>Select {{dynamictext}}</option>
                                        <option *ngFor="let item of zipCodesdata" [value]="item.id">
                                            {{ item.code }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Mailing Address</h5>
                                <!-- <span>This will be displayed in public and <br />
                                    used in essential documents</span> -->
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" [(ngModel)]="company.mailingAddress"
                                    [ngModelOptions]="{standalone: true}" id="mailingAddress" placeholder="Address"
                                    value="{{ company.mailingAddress }}" name="mailingAddress" />&nbsp;


                                <div class="col-md-12 col-lg-12">
                                    <select [(ngModel)]="company.mailingCountryId" class="form-control input_drpdwn"
                                        [ngModelOptions]="{standalone: true}" placeholder="Country"
                                        name="mailingCountryId" (change)="getStatesChangeforMailing($event)"
                                        id="mailingCountryId">
                                        <!-- <option selected disabled>Select Country</option> -->
                                        <option [ngValue]="undefined" hidden>Select Country</option>
                                        <option *ngFor="let item of countries" [value]="item.id">
                                            {{ item.countryName }}
                                        </option>
                                    </select>
                                </div>
                                &nbsp;
                                <div class="col-md-12 col-lg-12  mb-4">
                                    <select [(ngModel)]="company.mailingState" class="form-control input_drpdwn"
                                        [ngModelOptions]="{standalone: true}" placeholder="" name="mailingState"
                                        id="mailingState" (change)="getMailingCityChange($event)">
                                        <!-- <option selected disabled>Select State</option> -->
                                        <option [ngValue]="undefined" hidden>Select State</option>
                                        <option *ngFor="let item of MailingState" [value]="item.id">
                                            {{ item.stateName }}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-12 col-lg-12 mb-4">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" (change)="getMailingZipcodeChange($event)"
                                        [(ngModel)]="company.mailingCity" name="mailingCity" id="mailingCity">
                                        <option [ngValue]="undefined" hidden>Select City</option>
                                        <option *ngFor="let item of cityMailingdata" [value]="item.id">
                                            {{ item.cityName }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="company.mailingZipcode"
                                        name="mailingZipcode" id="mailingZipcode">
                                        <option selected disabled>Select Zipcode</option>
                                        <option [ngValue]="undefined" hidden>Please select</option>
                                        <option *ngFor="let item of zipMailingCodesdata" [value]="item.id">
                                            {{ item.code }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Currency Type</h5>
                                <!-- <span>This will be displayed in public and <br />
                                    used in essential documents</span> -->
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <select class="form-control input_drpdwn" placeholder=""
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="company.currency"
                                        name="Currency type" id="Currency type">
                                        <!-- <option value="" selected>Select company currency</option> -->
                                        <option [ngValue]="undefined" hidden>Select company currency</option>
                                        <option value="United States Dollar">$ United States Dollar</option>
                                        <option value="Indian Rupee">₹ Indian Rupee</option>
                                        <option value="New Zealand Dollar">$ New Zealand Dollar</option>
                                        <option value="Pound sterling">£ Pound sterling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Bank Account Details <span>(optional)</span></h5>
                                <!-- <span>optional</span> -->
                            </div>
                            <div class="col-6">
                                <button type="button" (click)="openVerticalCenteredModal(AddBankAccountModal)"
                                    class="btn brand-color" data-toggle="modal" data-target="#bankModal">
                                    Manage Bank Account
                                </button>

                            </div>
                            <div class="row py-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="pt-0">Account Holder Name</th>
                                                    <th class="pt-0">Account Number</th>
                                                    <th class="pt-0">Routing Number</th>
                                                    <th class="pt-0">Bank Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{bankAccountform.accountHolderName}}</td>
                                                    <td>{{bankAccountform.accountNumber}}</td>
                                                    <td>{{bankAccountform.routingNumber}}</td>
                                                    <td>{{bankAccountform.bankName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr />
                            </div>
                            <div class="col-6">
                                <h5>Licenses & Certifications <span>(optional)</span></h5>
                                <!-- <span>optional</span> -->
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn brand-color"
                                    (click)="openVerticalCenteredModal(AddlicenceModal)">
                                    Manage License / Certification
                                </button>
                            </div>
                            <div class="row py-3">
                                <div class="col-12">
                                    <div class="table-responsive">

                                        <!-- <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="pt-0">Name of License</th>
                                                    <th class="pt-0">License Number</th>
                                                    <th class="pt-0">Name of Holder</th>
                                                    <th class="pt-0">Phone number</th>
                                                    <th class="pt-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of licenseList; let i = index">
                                                    <td>{{getLicName(obj.nameofLicenseID)}}</td>
                                                    <td>{{obj.licenseNumber}}</td>
                                                    <td>{{obj.fullNameofHolder}}</td>
                                                    <td>{{obj.phoneNumber}}</td>
                                                    <td class="action-buttons">
                                                        <i class="e-btn-icon e-icons e-eye"
                                                            (click)="viewLicById(obj.nameofLicenseID,IndivisualModal)"></i>&nbsp;
                                                        <i *ngIf="!isDisabled" class="e-btn-icon e-icons e-edit"
                                                            (click)="getLicById(obj.nameofLicenseID,IndivisualModal)"></i>&nbsp;
                                                        <i *ngIf="!isDisabled"
                                                            class="e-btn-icon e-icons e-trash"
                                                            (click)="deleteLicense(obj.nameofLicenseID)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table> -->

                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="pt-0">License Name</th>
                                                    <th class="pt-0">License No</th>
                                                    <th class="pt-0">Date of Expiry</th>
                                                    <th class="pt-0">Name of Holder</th>
                                                    <th class="pt-0">Business Name</th>
                                                    <th class="pt-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of CompanyLicenseList; let i = index">
                                                    <td>{{getLicName(obj.licenseType)}}</td>
                                                    <td>{{obj.licenseNo}}</td>
                                                    <td>{{obj.expirationDate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{obj.name}}</td>
                                                    <td>{{obj.businessName}}</td>
                                                    <td class="action-buttons">
                                                        <i class="e-btn-icon e-icons e-eye" title="View"
                                                            (click)="viewLicById(obj.licenseType,AddlicenceModal)"></i>&nbsp;
                                                        <i class="e-btn-icon e-icons e-edit" title="Edit"
                                                            (click)="getLicById(obj.licenseType,AddlicenceModal)"></i>&nbsp;
                                                        <i class="e-btn-icon e-icons e-trash" title="Delete"
                                                            (click)="deleteLicense(obj.id)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn brand-color" (click)="saveCompany()" data-dismiss="modal"
                                aria-label="Close">Save
                                Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Bank Detail Modal -->

<div class="modal fade" id="bankModal" tabindex="-1" aria-labelledby="bankModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bankModalLabel">Add Bank Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<ng-template #AddBankAccountModal let-modal>
    <form name="form" action="javascript:{}" #form="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Bank Account</h5>
            <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Account Holder Name </label>
                        <input type="text" name="accountHolderName" [(ngModel)]="bankAccountform.accountHolderName"
                            class="form-control" placeholder="Enter name">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Account Number (12 digit)</label>
                        <input type="text" name="accountNumber" [(ngModel)]="bankAccountform.accountNumber"
                            class="form-control" placeholder="Enter name">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Routing Number</label>
                        <input type="text" name="routingNumber" [(ngModel)]="bankAccountform.routingNumber"
                            class="form-control" placeholder="Enter name">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Bank Name </label>
                        <input type="text" name="bankName" [(ngModel)]="bankAccountform.bankName" class="form-control"
                            placeholder="Enter name">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn me-2 mb-2 mb-md-0"
                style="border-color: #EEF1F4;background-color: #EEF1F4;" (click)="modal.close('by: close button')">
                Cancel
            </button>
            <button type="button" class="btn brand-color me-2 mb-2 mb-md-0" (click)="modal.close('by: close button')"
                [disabled]="form.invalid">Save changes</button>
        </div>
    </form>
</ng-template>

<ng-template #AddlicenceModal let-modal>
    <form [formGroup]="LicformData">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add License & Certification</h5>
            <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Name of the License</label>
                        <select type="text" [(ngModel)]="license.licenseType" name="licenseType" class="form-select"
                            placeholder="Enter name" formControlName="licenseType">
                            <option [ngValue]="undefined">Select Type</option>
                            <option *ngFor="let item of licenseList" [value]="item.id">
                                {{ item.nameofLicense }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <strong>License Details</strong><br />
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">License No # </label>
                        <input type="text" [(ngModel)]="license.licenseNo" name="licenseNo" class="form-control"
                            placeholder="Enter name" formControlName="licenseNo">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Date of Expiry</label>
                        <!-- <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="license.expirationDate"
                            name="expirationDate" class="form-control" placeholder="Enter name"> -->
                        <ejs-datepicker id="datepicker" format='dd-MM-yyyy' formControlName="Expiry"
                            [(ngModel)]="license.expirationDate"></ejs-datepicker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Full Name of Holder </label>
                        <input type="text" formControlName="name" [(ngModel)]="license.name" name="name"
                            class="form-control" placeholder="Enter name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Select Country</label>
                        <select name="country" [(ngModel)]="license.country" (change)="getStatesChange($event)"
                            formControlName="Country" class="form-select" placeholder="Enter name">
                            <option [ngValue]="undefined">Select Country</option>
                            <option *ngFor="let item of countries" [value]="item.id">
                                {{ item.countryName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Select State </label>
                        <select class="form-select" placeholder="" formControlName="state" [(ngModel)]="license.stateId"
                            name="state" id="state" (change)="getCitiesChange($event)">
                            <option [ngValue]="undefined">Select State</option>
                            <option *ngFor="let item of states" [value]="item.id">
                                {{ item.stateName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <!-- <label class="form-label">Select City </label>
                        <select class="form-control input_drpdwn" placeholder="" formControlName="city"
                            (change)="getZipcodeChange($event)" [(ngModel)]="company.city" name="city" id="city">
                            <option [ngValue]="undefined">Select State</option>
                            <option *ngFor="let item of citydata" [value]="item.id">
                                {{ item.cityName }}
                            </option>
                        </select> -->
                        <label class="form-label">Select City </label>
                        <select class="form-select" placeholder="" formControlName="city" [(ngModel)]="license.city"
                            name="city" id="city" (change)="getZipcodeChange($event)">
                            <option [ngValue]="undefined">Select City</option>
                            <option *ngFor="let item of citydata" [value]="item.id">
                                {{ item.cityName }}
                            </option>
                        </select>
                        <!-- <select name="city" [(ngModel)]="license.city"  class="form-control" placeholder="Enter name"> </select> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <!-- <label class="form-label">Select ZipCode </label>
                        <select class="form-control input_drpdwn" placeholder="" formControlName="zipCode"
                            [(ngModel)]="company.zipCode" name="zipCode" id="zipCode">
                            <option [ngValue]="undefined" >Select {{dynamictext}}</option>
                            <option *ngFor="let item of zipCodesdata" [value]="item.id">
                                {{ item.code }}
                            </option>
                        </select> -->
                        <label class="form-label">Select ZipCode </label>
                        <select class="form-select" placeholder="" formControlName="zipCode"
                            [(ngModel)]="license.zipCode" name="zipCode" id="zipCode">
                            <option [ngValue]="undefined">Select {{dynamictext}}</option>
                            <option *ngFor="let item of zipCodesdata" [value]="item.id">
                                {{ item.code }}
                            </option>
                        </select>
                        <!-- <select name="zipCode" [(ngModel)]="license.zipCode"  class="form-control" placeholder="Enter name"> </select> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Phone number</label>
                        <input type="text" class="form-control" formControlName="phone"
                            (input)="ChangeLicphonenumber($event)" [(ngModel)]="license.phone"
                            [ngClass]="{'is-valid': LicformData.get('phone').valid && LicformData.get('phone').touched,
                                    'is-invalid': LicformData.get('phone').invalid && LicformData.get('phone').touched}" placeholder="Enter name" max="14">
                        <label class="text-danger"
                            *ngIf="LicformData.get('phone').hasError('pattern') && LicformData.get('phone').touched">
                            Please enter a valid phone number in the format (###) ###-####
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Business Name </label>
                        <input type="text" formControlName="businessName" name="businessName"
                            [(ngModel)]="license.businessName" class="form-control" placeholder="Enter name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Federal ID Number </label>
                        <!-- <input [ngModelOptions]="{standalone: true}" type="text" name="federalIdNumber" [(ngModel)]="license.federalIdNumber"
                            class="form-control" placeholder="Enter name"> -->

                        <input type="text" class="form-control" formControlName="federalNum"
                            [(ngModel)]="license.federalIdNumber"
                            [ngClass]="{'is-valid': LicformData.get('federalNum').valid && LicformData.get('federalNum').touched,
                                    'is-invalid': LicformData.get('federalNum').invalid && LicformData.get('federalNum').touched}"
                            placeholder="Enter federal number" max="14" (input)="formatFederal($event)">
                        <label class="text-danger"
                            *ngIf="LicformData.get('federalNum').hasError('pattern') && LicformData.get('federalNum').touched">
                            Please enter a valid federal id number in the format ##-#######
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Social Security Number (SSN)</label>
                        <input formControlName="ssn" type="text" name="socialSecurityNumber" [ngClass]="{'is-valid': LicformData.get('ssn').valid && LicformData.get('ssn').touched,
                        'is-invalid': LicformData.get('ssn').invalid && LicformData.get('ssn').touched}"
                            [(ngModel)]="license.socialSecurityNumber" class="form-control" placeholder="Enter name"
                            (input)="formatSSN($event)">
                        <label class="text-danger"
                            *ngIf="LicformData.get('ssn').hasError('pattern') && LicformData.get('ssn').touched">
                            Please enter a valid social security number in the format ###-##-####
                        </label>
                    </div>
                </div>
                <div class="card mt-3 p-3">
                    <div class="row">
                        <label class="w-100 mb-2 " for="documents">Attachments</label>
                        <div class=" grid-margin stretch-card">
                            <div class="card-body">
                                <div class="dropzone" [dropzone]="config" (success)="onUploadSuccess($event)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3" *ngFor="let image of license.attachments; let i = index">
                    <div class="mt-3 card" (click)="downloadFile(image.documentItem, image.fileName)">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="icon">
                                        <i class="link-icon" data-feather="file" appFeatherIcon></i>
                                        <!-- <img src="assets/images/flags/Document.jpeg" style="max-width: 100%;" alt="Document Image">  -->
                                    </div>
                                    <div class="ms-2 c-details">
                                        <div class="d-flex flex-column">
                                            <h4 class="mb-0" style="word-break: break-all;">{{image.fileName}}</h4>
                                            <!-- <span class="d-sm-none d-md-block">{{image1.}}</span>  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn me-2 mb-2 mb-md-0"
                style="border-color: #EEF1F4;background-color: #EEF1F4;" (click)="modal.close('by: close button')">
                Cancel
            </button>

            <button type="button" class="btn brand-color me-2 mb-2 mb-md-0" (click)="addLicense()">Add License</button>
        </div>
    </form>
</ng-template>

<ng-template #SkillModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Skills</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form name="form" action="javascript:{}" #form="ngForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <ng-select [items]="departments" [multiple]=true [closeOnSelect]="false" [searchable]="false"
                        name="test" bindLabel="skillName" placeholder="Select people" [(ngModel)]="selecteddepartments">
                    </ng-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>