<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <span style="float:right ;">Have Etaprose account? <a style="color: black;"  routerLink="/auth/login"><b>Create An Account</b></a></span>
        <h3 class="text-center mb-3 mt-4">Choose a plan</h3>
        <p class="text-muted text-center mb-4 pb-2">Choose the features and functionality your team need today. Easily
          upgrade as your company grows.</p>
        <div class="container">
          <div class="row">
            <div class="col-md-3 stretch-card grid-margin grid-margin-md-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center mt-3 mb-4">Free</h4>
                  <i class="feather icon-award text-primary icon-xxl d-block text-center my-3"></i>
                  <h1 class="text-center">$40</h1>
                  <p class="text-muted text-center mb-4 fw-light">per month</p>
                  <h5 class="text-primary text-center mb-4">Up to 25 units</h5>
                  <table class="mx-auto">
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Accounting dashboard</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Invoicing</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Online payments</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td>
                        <p class="text-muted">Branded website</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td>
                        <p class="text-muted">Dedicated account manager</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td>
                        <p class="text-muted">Premium apps</p>
                      </td>
                    </tr>
                  </table>
                  <div class="d-grid">
                    <button class="btn btn-primary mt-4"
                      routerLink="/auth/register/c555d420-8c23-4ef6-89b3-65d48e140b2f/administrator">Start Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin grid-margin-md-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center mt-3 mb-4">Basic</h4>
                  <i class="feather icon-gift text-success icon-xxl d-block text-center my-3"></i>
                  <h1 class="text-center">$70</h1>
                  <p class="text-muted text-center mb-4 fw-light">per month</p>
                  <h5 class="text-success text-center mb-4">Up to 75 units</h5>
                  <table class="mx-auto">
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Accounting dashboard</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Invoicing</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Online payments</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Branded website</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Dedicated account manager</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-x icon-md text-danger me-2"></i></td>
                      <td>
                        <p class="text-muted">Premium apps</p>
                      </td>
                    </tr>
                  </table>
                  <div class="d-grid">
                    <button class="btn btn-success mt-4"
                      routerLink="/auth/register/eaadabd2-080e-421d-b53e-49bfcff5dedc/administrator">Start Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center mt-3 mb-4">Standard Pro</h4>
                  <i class="feather icon-briefcase text-primary icon-xxl d-block text-center my-3"></i>
                  <h1 class="text-center">$250</h1>
                  <p class="text-muted text-center mb-4 fw-light">per month</p>
                  <h5 class="text-primary text-center mb-4">Up to 300 units</h5>
                  <table class="mx-auto">
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Accounting dashboard</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Invoicing</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Online payments</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Branded website</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Dedicated account manager</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Premium apps</p>
                      </td>
                    </tr>
                  </table>
                  <div class="d-grid">
                    <button class="btn btn-primary mt-4"
                      routerLink="/auth/register/a5d56784-b3ad-47a4-ba9f-81a8f5ec36eb/administrator">Start Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-center mt-3 mb-4">Enterprice</h4>
                  <i class="feather icon-briefcase text-primary icon-xxl d-block text-center my-3"></i>
                  <h1 class="text-center">$250</h1>
                  <p class="text-muted text-center mb-4 fw-light">per month</p>
                  <h5 class="text-primary text-center mb-4">Up to 300 units</h5>
                  <table class="mx-auto">
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Accounting dashboard</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Invoicing</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Online payments</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Branded website</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Dedicated account manager</p>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="feather icon-check icon-md text-primary me-2"></i></td>
                      <td>
                        <p>Premium apps</p>
                      </td>
                    </tr>
                  </table>
                  <div class="d-grid">
                    <button class="btn btn-primary mt-4"
                      routerLink="/auth/register/e0d90c25-4fb6-461b-96d2-117916b1aff3/administrator">Start Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>