<div class="row ">
    <div class="col-12 col-xl-12">
        <div class="row flex-grow-1">
            <div class=" grid-margin stretch-card col-md-12 col-lg-12 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <span class="d-flex justify-content-between m-3">
                            <h6>Customer Retention  Rate</h6>
                            <div>
                                <img src="../../../../../assets/images/Icon.png" alt=""
                                ngbTooltip="Customer Retention  Rate Stastics">
                              </div>


                        </span>

                        <div>
                            <ejs-chart style='display:block; height: 300px;' [chartArea]='chartArea' align='center'
                                id='businessChart2' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                                [tooltip]='tooltip'>
                                <e-series-collection>
                                    <e-series [dataSource]='dataList' type='Column' xName='month'
                                        yName='totalnumberofaccounts' fill="#d63384" name='Revenue' width=2
                                        opacity="0.3"> </e-series>
                                    <e-series [dataSource]='dataList' type='Column' xName='month'
                                        yName='totalActivecontracts' fill="#0d6efd" name='Net Income' width=2
                                        opacity="0.3"> </e-series>
                                    <e-series [dataSource]='dataList' type='Line' xName='month' yName='netRetention'
                                        fill="#6610f2" name='Profit Margin' width=2 dashArray='3,3' opacity="0.5">
                                    </e-series>
                                </e-series-collection>
                            </ejs-chart>
                        </div>

                    </div>
                </div>
            </div>
            <div class=" grid-margin stretch-card  col-md-12 col-lg-12 col-xl-4">
                <div class="card ">
                    <div class="card-body ">
                        <span class="d-flex justify-content-between m-3">
                            <h6>Customer Acquisition Cost</h6>
                            <div>
                                <img src="../../../../../assets/images/Icon.png" alt=""
                                ngbTooltip="Customer Acquisition Cost Stastics">
                              </div>

                        </span>
                        <div class="w-100">
                            <div>
                                <ejs-chart style='display:block; height: 300px;' [chartArea]='chartArea' align='center'
                                    id='businessChart3' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                                    [tooltip]='tooltip'>
                                    <e-series-collection>

                                        <e-series [dataSource]='dataList' type='Column' xName='month'
                                            yName='customerAcquisitionCost' width=2 [marker]='marker'
                                            columnSpacing='0.1' tooltipMappingName='month' opacity=0.5 fill="#A0D57A">
                                        </e-series>
                                    </e-series-collection>
                                </ejs-chart>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
